.image-overlay img {
  width: 100%;
  height: 100%;
}
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ggmap,
.dungiframe {
  position: relative;
}
.opacity-slider {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 240px;
  width: 35px;
}
.opacity-slider input {
  transform: rotate(-90deg);
}
